{% extends 'base_app.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md">
        <h1>{{ message }}</h1>
    </div>
</div>
{% endblock content %}
