<!doctype html>
<html lang="{{ settings.LANGUAGE_CODE }}">
<head>
{% block head_common %}
{% include 'head_common.html' %}
{% endblock head_common %}

{% block head_meta %}
{% endblock head_meta %}

{% block head_styles %}
{% endblock head_styles %}

{% block head_scripts %}
{% endblock head_scripts %}

<title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block body %}
{% endblock body %}

{% block body_scripts_common %}
{% include 'body_scripts_common.html' %}
{% endblock body_scripts_common %}

{% block body_scripts %}
{% endblock body_scripts %}
</body>
</html>
